<%= @form.input :name, label: "Schedule name", required: true %>
<%= @form.input :default_plugin, label: "Default plugin", required: true%>

</div>
<%= erb :"shared/heading", locals: { title: "Schedule Events" } %>
<div id="schedule-events" class="flex flex-col overflow-hidden rounded-xl border border-gray-300 bg-gray-50">
    <div class="flex border-b grow flex-col items-left justify-between px-5 py-5">
        <h3 class="font-medium text-gray-900 text-lg md:text-xl mb-0.5 leading-none">
            Existing events
        </h3>
    </div>
    <% if @schedule.schedule_events.length > 0 %>
        <% @schedule.schedule_events.each do |se| %>
            <% formatted_time_range = sprintf("%s - %s", se.format_date(se.start_time), se.format_date(se.end_time)) %>
            <%= erb :"schedules/schedule_event", locals: { se: se, formatted_time_range: formatted_time_range } %>
        <% end %>
    <% end %>
    <a id="last_schedule_mark"></a>
    <div class="flex border-b grow flex-col justify-between px-5 py-5">
        <h3 class="font-medium text-gray-900 text-lg md:text-xl mb-0.5 leading-none">
            Add a new event
        </h3>
    </div>
    <div class="flex border-b grow flex-col justify-between px-5 py-5">
        <div class="schedule-event">
            <%= sf = @form.subform(:schedule_events, nil, { id: "-1" }) %>
            <%= sf.input(:start_time, label: "Start Time:", type: :time, id: "subform[start_time]") %>
            <%= sf.input(:end_time, label: "End Time:", type: :time, id: "subform[end_time]") %>
            <%= sf.input(:interruptible, label: "Interruptible:", type: :checkbox, id: "subform[interruptible]") %>
            <%= sf.input(:plugins, label: "Plugins:", type: :text, id: "subform[plugins]") %>
            <%= sf.input(:update_frequency, label: "Update Frequency:", type: :number, id: "subform[update_frequency]") %>
        </div>
    </div>
    <%= @form.input(:button, {obj: nil, value: 'Add schedule event', attr: {
            onclick: 'addEvent()'}
        }
    ) %>
    <script>
        IDS=["start_time", "end_time", "interruptible", "plugins", "update_frequency"];
        NEXT_ID = 1
        function removeEvent(id) {
            displayElem = document.getElementById(`schedule_events_display[${id}]`);
            if (displayElem) {
                IDS.forEach(fieldName => {
                    elem = document.getElementById(`schedule_events[${id}][${fieldName}]`);
                    elem && elem.remove();
                });
                fetch(`/scheduleEvent/${id}/delete`).then(() => {
                    displayElem.remove();
                })
            }
        }

        <% se = ScheduleEvent.new %>
        <% se.id = -1 %>
        <% se.interruptible =  "${INTERRUPTIBLE}" %>
        <% se.plugins = "${PLUGINS}" %>
        <% se.update_frequency =  "${UPDATE_FREQUENCY}" %>
        function addEvent() {
            UPDATE_FREQUENCY = document.getElementById('subform[update_frequency]').value
            PLUGINS = document.getElementById('subform[plugins]').value
            INTERRUPTIBLE = document.getElementById('subform[interruptible]').value
            FORMATTED_TIME_RANGE = `${document.getElementById('subform[start_time]').value} - ${document.getElementById('subform[end_time]').value}`; 

            new_block = `<%= erb :"schedules/schedule_event", locals: { se: se, formatted_time_range: '${FORMATTED_TIME_RANGE}' } %>`;
            last_schedule_marker = document.getElementById('last_schedule_mark');
            last_schedule_marker.insertAdjacentHTML('beforebegin', new_block);
            IDS.forEach(id => {
                elem = document.getElementById(`subform[${id}]`);
                hidden_input = document.getElementById(`schedule_events[-1][${id}]`)

                hidden_input.value = elem.value;
                hidden_input.name = `schedule_events[new_${NEXT_ID}][${id}]`
                hidden_input.id = `schedule_events[new_${NEXT_ID}][${id}]`

                elem.value = elem.defaultValue;
            })
            NEXT_ID += 1;
        }

    </script>
</div>

<div>
<%= @form.button 'Create Schedule' %>